# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

# macOS files
.DS_Store

# Explicitly ignored files
*--ignore
**/*--ignore

# Node Modules
node_modules

# Editor files
.idea
